.basketProduct {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
  padding-top: 10px;

  &:last-child {
    margin-bottom: 0;
  }
  &__image {
    flex: 0 0 30%;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 17px;
    color: #5d6b7d;
    margin-bottom: 4px;
  }

  &__shortDesc {
    margin-bottom: 3px;
    font-size: 15px;
  }

  &__price {
    color: #00aeef;
    font-size: 17px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__remove {
    margin-right: 30px;
    color: red;
    padding: 1px 6px;
    cursor: pointer;
  }

  &__form {
    display: flex;
  }
  &__input {
    flex: 1;
    width: 27px;
    text-align: center;
    padding: 5px 11px;
    outline: none;
    display: flex;
    justify-content: center;
    border: 1px solid #adadad;
    border-radius: 2px;
    margin: 0 3px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__formIcon {
    cursor: pointer;
  }
}
