.basketProduct {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
  padding-top: 10px;

  &:last-child {
    margin-bottom: 0;
  }
  &__image {
    flex: 0 0 30%;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 17px;
    color: #5d6b7d;
    margin-bottom: 4px;
  }

  &__shortDesc {
    margin-bottom: 3px;
    font-size: 15px;
  }

  &__price {
    color: #00aeef;
    font-size: 17px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__remove {
    margin-right: 30px;
    color: red;
    padding: 1px 6px;
    cursor: pointer;
  }
}
