.allProducts {
  margin: 0 50px;

  & > h2 {
    background: #f3f3f3;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
  }

  &__mainProducts {
    // display: flex;
  }
}

@media only screen and (max-width: 460px) {
  .allProducts {
    margin: 0;
    & > h2 {
      text-align: center;
    }
  }
}
