.logoLink {
  display: flex;

  &__logo {
    width: 100px;
    margin-left: 20px;
  }
  &__link {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media only screen and (max-width: 460px) {
  .logoLink {
    &__menuIcon {
      display: none;
    }
    &__logo {
      width: 70px;
      margin-left: 0;
    }
  }
}
