.navList {
  display: flex;
  align-items: center;
  list-style: none;
  &__item {
    margin-right: 10px;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #5d6b7d;
  }
}
