.homeCards {
  margin-top: 50px;
  padding-top: 80px;
  margin-bottom: 80px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 460px) {
  .homeCards {
    padding-top: 0;
  }
}
