.homeCard {
  width: 300px;
  &__title {
    color: #5d6b7d;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 18px;
  }

  &__body {
    margin-top: 20px;
    line-height: 1.6;
    color: #5d6b7d;
    font-size: 17px;
  }
}

@media only screen and (max-width: 460px) {
  .homeCard {
    margin-bottom: 25px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    &__body {
      text-align: left;
    }
  }
}
